rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // Allow write access only for authenticated users
      allow write: if request.auth != null;

      // Deny read access for all users
      allow read: if true;
    }
  }
}
